.site-header{
    background-color: #061127;
    color: white;
    font-family: monospace;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.site-header-content{
    margin:10px;
}
.profile-pic{
    border-radius: 50%;
    height:200px;
    width:200px;
    box-shadow: #152742  2px 5px 5px;
}
.profile-link{
    color:red;
    text-decoration: none;
}
body{
    margin: 0;
}